@import "../../variable.scss";
.product-card-container {
    
    background-color: rgba(87, 79, 79, 0.336);
    border-radius: 5%;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
    a {
        text-decoration: none;
        text-align: center;
    }

    img {
        border-radius: 5%;
        padding-top: 20px;
        width:200px;
        height: 200px;
    }
    
    &:hover{
        transform: scale(1.2);
    }
}

.price-card{
    color: $logo-yellow;
}


.card-content {
    color: $high-white;
    padding: 10px;
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}