@import "../../variable.scss";
.products-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color:$bg-gray;
    padding: 10px;
}
.product{
    border-bottom: 1px solid;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.total{
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap:1rem;
}
.delete-button{
    width: 100px;
    height: 50px;
}


@media screen and (max-width:800px) {
    .product{
       
        display: flex;
        flex-direction: column;
      
    }
}