@import "../../variable.scss";

body {
    box-sizing: border-box;
    background: $bg-container;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 200;   
}


.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
        width: 70px;
        height: 70px;
        border-radius: 7%;
    }
}

.nav-right {
    display: flex;
    flex-direction: row;
   

    a {
        color: rgba(255, 255, 255, 0.562);
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
        transition: all .5s ease-in-out;
        &:hover {
            transform: scale(1.1);
            color: $red;
            color: white;
        }
    }
}

.active {
    border-bottom: 5px solid $logo-yellow;
    color: rgba(255, 255, 255, 0.932) !important
}


.dropdown1 {
    margin-top: 15px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s;
    will-change: opacity;
    display: none;
    background-color: rgba(78, 76, 76, 0.555);
}
.dropdown1{
    a{
        border-bottom: 1px solid grey;
    }
}

.nav-right {
    a {
        &:hover .dropdown1{
        display: flex;
        flex-direction: column;
        }
    }

}

.search-bar{
    border: none;
}
.fixed-nav{
   
}

.fixed{
    position: sticky;
    z-index: 1;
   top: 0px;
   background-color: $bg-container;
}
.navbar-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:1024px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }
    .nav-right{
        display: flex;
        flex-direction: column;
    }
    .fixed{
        position: relative;
    }

}