$bg-container: rgb(19, 22, 24);
$bg-form: #E8D2A6;
$red: rgb(168, 26, 26);
$low-white: rgba(255, 255, 255, 0.815);
$high-white:rgba(255, 255, 255, 0.932);
$bg-gray:rgba(87, 79, 79, 0.336);
$logo-yellow:rgb(184, 160, 118)
